* {
	text-align: center;
	font-family: Helvetica;
	color: #ccc;
}
body { background-color: #000; }
#info {
	position: relative;
	margin: 80px auto;
	z-index: 2;
}
#logo-wrapper {
	width: 258px;
	height: 258px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #606074;
}
#logo {
	margin: 35px 50px;
}
#logo-name {
	width: 160px;
	height: 35px;
	margin: 10px auto 10px;
	line-height: 35px;
	font-size: 40px;
}
#description {
	width: 600px;
	margin: 0 auto 100px;
	line-height: 22px;
	font-size: 20px;
}
#github {
	margin: 0 auto;
	padding: 10px 15px;
	border: 3px solid #ccc;
	text-decoration: none;
}
#particleground {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}